/* 

Fiesta O'Farrill
@author: Sergio O'Farrill <sergioofarrill@me.com>

*/

body {
  font-family: 'Roboto', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial sans-serif;
  background-color:#FFFFFF;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 300;
    font-style: normal;
  }
html,body{overflow-x: hidden;}
p {
  font-size: 1.1em;
  line-height:24.999000000000002px;
  margin-top:0;
  margin-bottom:29.999000000000002px;

}
strong {
  font-weight:700;
  }
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  font-weight:900;
}
h1, .h1 {
    font-size: 1.3em;
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}
a {
  text-decoration:none;

}
.container {
  max-width: 940px;
  margin: 0 auto;
}
.devidetor{
  heigth: 30px;
  margin-top: 30px;
}
.row{
    background-color: white;
}
/* SPLASH PAGE*/

.splash-page.container {
    text-align: center;
    padding: 50px 0;
    margin: 0 auto;
}

/* Parallax*/

.no-touch .parallax-item, .no-touch .parallax-images .no-touch .parallax-item, .no-touch .parallax-images * {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translatez(0);
    transform: translatez(0);
}
.parallax-item {
    position: relative;
    height: 100vh;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* Top Navigation */

.title-nav-wrapper {
    display: table;
    width: 100%;
    margin: 0 auto;
    padding: 25px 80px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.site-title {
    font-weight: normal;
    letter-spacing: 12px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    font-style: normal;
    margin: 0;
    padding: 0;
    display: table-cell;
    width: 40%;
    vertical-align: middle;
    line-height: 1em;
    z-index: 8002;
    position: relative;
}



#desktopNav {
    display: table-cell;
    width: 70%;
    text-align: right;
    vertical-align: middle;
}

/* Main */

.main {
  text-align: center;
  
}

.main h1 {
  
  color: #000;
  margin: 0;
}

.main a{
  color:#FFFFFF;
}

.main ul li{
  display: inline;
  color: white;
  text-align: right;
    margin: 0 0 0 30px;
    float:right;
}
.title-container {
    margin: 0 auto;
    position: relative;
    top: 31.3%;
    padding: 30px;
    width: 46.3%;
}
.main-title, .title{
  background-color: rgba(255,255,255,.6);
  padding:15px 20px;
  display: inline-block;
  width: 100%;
}

.to-center{
  text-align: center;
      margin: 20px 0px;
}
.to-left{
  text-align: left;
}
.to-right{
  text-align: right;
}

.align-middle {
  position:relative;
  top:33.33%;
  top:78px;
}

/*Inner*/
.title-desc-inner{
  font-size: 2em;
    margin: 0 auto;
    max-width: 800px;
    position: relative;
    top: 50vh;
  width: 60%;
}
.inner-txt{
  padding:10px;
  position: relative;
  top: 25px;
}

/* Supporting */
.supporting{
  text-align: center;
  padding: 50px 0 80px;
  background-color:#FFFFFF;
}

.supporting .col-3 {
  float: left;
  width: 28%;
  padding: 10px;
}

.supporting h1,
.supporting h2 {
  color: rgb(39, 41, 40);
  font-size: 20px;
  margin-bottom: 10px;
}

.clearfix {
  clear: both;
}


.supporting .btn {
  background-color: #eee;
  color: #1c1c1c;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
  display: inline-block;
}

/* Feature */
.feature {
 

}

.feature h1,
.feature h2 {
  color: #fff;
  font-size: 40px;
  margin: 0;
  padding:50px 0 0;
}
.btn{
  text-transform:UPPERCASE;
}
.btn.light, .btn.dark {
  padding: 8px 30px ;
  font-size: 18px;
  display:inline-block;
}
.btn.light, .btn.dark:hover {
  background-color:#e0e0e0;
  color:#1c1c1c;
}
.btn.dark, .btn.light:hover {
  color:#e0e0e0;
  background-color:#1c1c1c;
}

/*Image & Video*/

.gallery-img {
    width: 100%;
    padding: 10px;
    overflow: hidden;
    max-width: 500px;
    max-height: 300px;
}

.video-block{
  margin-bottom: 20px;
}

.video-1{
      background: white url('../img/case-img/vg_wrk_ipad_1.jpg') top center no-repeat;
      background-size: contain;
    }
.video-2{
      background: white url('../img/case-img/vg_wrk_ipad_2.jpg') top center no-repeat;
      background-size: contain;
    }

.video-wrapper {
  position: relative;
  padding-bottom: 65.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
    .play-button {
      position: absolute;
      top: 40%;
      left: 36%;
      a{
        color:black;
        &:hover{
          color:$colorLightHover;
        }
      }
      i {
        font-size: 5em;
      }
  }
    .caption-container {
      position: absolute;
      bottom: -15px;
      right: 80px;
  }
}
.video-wrapper object,
.video-wrapper embed,
.video-wrapper video {
    position: absolute;
    top: 31.6%;
    left: 17%;
    width: 42.6%;
    height: auto;
}

p.caption-txt {
    font-size: 0.8em;
}
.feat-img{
  min-width: 100%;
  margin-bottom: 30px;
}

.full-img img {
    width: 100%;
}

/* Footer */
footer {
    height: 100px;
    text-align: center;
    background-color: #1c1c1c;
}

footer p{
 padding-top: 40px;
 color:white;
}

footer h1,
footer h2 {
  color: #fff;
  font-size: 40px;
  margin: 0 0 20px 0;
  padding:50px 0 0;
}

.scrollup {
    width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  
  border-bottom: 10px solid black;
    position: fixed;
    bottom: 20px;
    right: 40px;
    display: none;
    text-indent: -9999px;
}

/************ Lightbox ************/


.lightbox-open {
  overflow: hidden;
}

body.lightbox-open,
.lightbox-open .navbar-fixed-top,
.lightbox-open .navbar-fixed-bottom {
  margin-right: 15px;
}

/* Fix for z-index for compatibility with Bootstrap 3.1+ */
/* added by @mattlibera */
.lightbox {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1041;
  display: none;
  overflow: auto;
  overflow-y: scroll;

  .fade .lightbox-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
  }
  .in .lightbox-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .lightbox-dialog {
  z-index: 1050;
  width: auto;
  /*padding: 10px;*/
  margin-right: auto;
  margin-left: auto;

  .lightbox-header {
    float: right;
    .close {
      margin-top: -2px;
    }
  }

  .lightbox-content {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    /**/
    padding: 10px;
    display: inline-block;

    .lightbox-caption {
      position: absolute;
      right: 8px;
      bottom: 8px;
      left: 10px;
      padding: 2%;
      font-size: 14px;
      line-height: 18px;
      color: white;
      text-align: center;
      text-shadow: 0 -1px 0 #000;
      text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
      background: #000;
      background: rgba(0,0,0,0.6);
    }
  }
}
}

/************ Media Queries ************/


@media screen and (max-width: 820px) {
a#top {
    font-size: 59%;
}
.gallery-img {
    
    height: 100%;
}
.title-container{
  width: 82.3%;
}
.three-box-thinking{
  flex-direction: column;
  -webkit-flex-direction: column;
}
.three-box-content{
  margin: 0 auto;
}
.box-between{
  position: initial;
  margin: 20px auto;
}
}

@media screen and (max-device-width: 667px) { 
    h1, .h1, h2, .h2, h3, .h3, span, p, 
  .supporting p, .supporting span, .three-box-text span
   {
        font-size: 2.3em;
        line-height: 1.2em;
  }

    .title-container{
      width: 82.3%;
    }

      .supporting .col {
        width: 30%;
      }
    

    .three-box-text{
      padding: 15% 4%;
        
    } 

    .three-box-thinking{
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: center;
        -webkit-justify-content: center;
        margin:0 auto;
    }

    .three-box-content{
      margin: 0 auto;
      height: 24vh;
      width: 80%;
    }

    .box-between{
      position: initial;
      margin: 20px;
    }

    .play-button{
      display: none;
    }

}
@media screen and (max-device-width: 667px) and (orientation: landscape){

  .three-box-content{
      height: 60vh;
    }
}
@media screen and (max-device-width: 481px) { 
  // h1, .h1, h2, .h2, h3, .h3, span, p, 
  // .supporting p, .supporting span, .three-box-text span
  //  {
  //       font-size: 1.3em;
  //       line-height: 1em;
  // }
  .three-box-content{
    height: 100%;
  }
  footer{
    height: 200px;
  }
  
}