@mixin flexbox-space-between {
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	align-content: center;
	-webkit-align-content: center;
}

@mixin border-box {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
